<ion-header>

  <ion-navbar>
    <ion-title>Transactions</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<p *ngIf="savedDataLoaded">Saved transactions loaded</p>
	<div *ngIf="showEmpty">
    <p class="medium-text text-center">No transactions found. Refresh page to retry.</p>
    <div class="center-box"><button class="btn-primary block" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>
	<ion-list *ngIf="transactionList">
	   <ion-item *ngFor="let transaction of transactionList">
			<h2>{{ transaction.fromSmartPayID }}</h2>
			<p>{{ transaction.description }}</p>
			<div item-right>
				<p>&#8358; {{ transaction.amount }}</p>
				<p>{{ transaction.timestamp | date: 'yMMMdjms' }}</p><!-- dd/MM/yyyy -->
			</div>
		</ion-item>
	</ion-list>

	 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	   <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
