page-transactions {
    .spinner-box {
        width: 40px;
        margin: 2em auto;
    }

    .center-box {
        width: 40%;
        margin: 1.2em auto;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .medium-text {
        font-size: 1.1em;
        color: #777;
        line-height: 1.5em; 
        margin: 2em;   
    }

    .block {
        width: 100%;
    }

    .list-ios, .list-md {
        margin: 0 0 0 0;
    }
    .item-ios ion-thumbnail.item-left, .item-md ion-thumbnail.item-left {
        margin: 0 8px 0 0;
    }
    .list .list-ios, .list .list-md {
        margin: 0 0 0 0;
    }
    .list .item-ios ion-thumbnail.item-left, .list .item-md ion-thumbnail.item-left {
        margin: 0 8px 0 0;
    }
    .badge {
        display: block;
        text-align: center;
        background-color: #efefef;
        width: 100%;
        height: 100%;
        font-size: 2em;
        color: #3b71de;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        vertical-align: middle;
    }
    .item .item-block {
        margin-left: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
    .item-ios [item-left], .item-md [item-left] {
        margin: 0 8px 0 2px;
        position: relative;
    }
    .item-ios, .item-md {
        padding-left: 8px;
        padding-right: 8px;
    }
    .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left] {
        margin: 0 8px 0 2px;
        position: relative;
    }
}
