<ion-content class="row1 full-page1 home-bg">

  
	
		<div class="smartpay-home">
			<div class="start-page-smartpay">
				<div class="start-page-icon">
					<img class="" src="assets/img/logo_sm.png" alt=" " />
				</div>
			</div>
			
			<div class="start-page-content">
				<h4>secure. reliable. convenient</h4>				
				<p>Cashless platform for daily<br>transactions</p>
			</div>
			
			<div class="start-page-btn">
				<button ion-button (click)="toLoginPage()" class="basic-button">start</button>
			</div>			
		</div>

	

</ion-content>
