page-start {
    body .row.full-page {
        height: 100%;
        padding: 0;
        margin: 0;
        display: block;
    }

    .full_page {
        width: 100%;
        height: 100%;
        display: block;
    }

    .smartpay-home {
        width: 100%;
        height: 100%;
        background-color: #003471;
        color: #ffffff;
        position: relative;
    }

    .start-page-smartpay {
        width: 100%;
        height: auto;
        background-color: #ffffff;
    }

    .start-page-icon {
        width: 50%;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }

    .start-page-icon img {
        width: 100%;
        height: auto;
        margin: 2em 0;
    }

    .start-page-content {
        text-align: center;
        color: #ffffff;
    }

    .start-page-content h4 {
        text-decoration: none;
        text-transform: none;
        font-style: normal;
        font-weight: 300;
        margin: 1.2em 0 4em 0;
        display: block;
        letter-spacing: .1em;
        font-size: 1.1em;
        line-height: 1.8em;
        color: #ffffff;
    }

    .start-page-content p {
        text-decoration: none;
        text-transform: none;
        font-style: italic;
        font-weight: 300;
        margin: 3em 0 1.2em 0;
        display: block;
        letter-spacing: .2em;
        font-size: .9em;
        line-height: 1.8em;
        color: #ffffff;
    }

    .start-page-btn {
        background-color: #052953;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .start-page-btn button {
        margin: .2em 0;
        text-transform: uppercase;
        font-size: 1.2em;
        color: #ffffff;
        font-weight: 900;
        letter-spacing: .2em;
        box-shadow: 0 0 0;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        border: none;
    }
}
