<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Setup</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="innerform">

  <div *ngIf="chooseLanguage">
    <h4 class="text-center">Choose a language</h4>
    <ion-list radio-group [(ngModel)]="profile.pref_language">
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Yoruba</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Igbo</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hausa</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pidgin</ion-label>
        <ion-radio value="4"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid bottom>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepForward(1)" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="createProfile">
    <h4 class="text-center">Create Profile</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>First name</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="profile.firstName" name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Surname</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="profile.surname" name="surname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone number</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="profile.phoneNumber" name="phoneNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="profile.gender" name="gender">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-textarea type="text" class="form-control" [(ngModel)]="profile.address" name="address"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-grid bottom>
      <ion-row>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepBack(0)" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepForward(2)" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="addAccount">
    <h4 class="text-center">Add a bank account</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>Account first name</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="account.firstName" name="accountFirstName"></ion-input>
      </ion-item>
	  
	  <ion-item>
        <ion-label floating>Account surname</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="account.surname" name="accountSurname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Account number</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="account.number" name="accountNumber"></ion-input>
      </ion-item>
	  
      <ion-item>
		<ion-label>Bank name</ion-label>
        <ion-select [(ngModel)]="account.bankID" name="bankID">
          <ion-option *ngFor="let bank of banks" value="{{bank.id}}">{{bank.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid bottom>
      <ion-row>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepBack(1)" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepForward(3)" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="securePaybag">
    <h4 class="text-center">Enter a four-digit number</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>4-digit PIN</ion-label>
        <ion-input type="password" pattern="[0-9]*" inputmode="numeric" class="form-control" [(ngModel)]="paybag.pin" name="pin"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm PIN</ion-label>
        <ion-input type="password" pattern="[0-9]*" inputmode="numeric" class="form-control" [(ngModel)]="confirmPIN" name="confirmPIN"></ion-input>
      </ion-item>

    </ion-list>
    <ion-grid bottom>
      <ion-row>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="goToStepBack(2)" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col col-5 offset-1>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="setup()"> Submit </button> </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<div *ngIf="showOffline">
    <p class="medium-text text-center">Connection timed out. Please check you internet and retry.</p>
    <div class="center-box"><button class="btn-primary" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>

<!--ion-list>
  
  <div *ngIf="showForm">
  <ion-item>
    <ion-label floating>Full name</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="fullName" name="fullName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Phone number</ion-label>
    <ion-input type="number" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="gender" name="gender">
      <ion-option value="Male">Male</ion-option>
      <ion-option value="Female">Female</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>Account name</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="accountName" name="accountName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Account number</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="accountNumber" name="accountNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Bank name</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="bankName" name="bankName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Address</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="address" name="address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>4-digit PIN</ion-label>
    <ion-input type="password" pattern="[0-9]*" inputmode="numeric" class="form-control" [(ngModel)]="pin" name="pin"></ion-input>
  </ion-item>

  <div class="gap-20"></div>

  <div class="loginButton"><button type="button" class="btn btn-primary" (click)="setup()"> Submit </button> </div>
  </div>

</ion-list-->

</ion-content>