
<ion-content class="auth-bg">


          <div class="form-page-top">
              <div class="login-page-icon">
                  <img class="" src="assets/img/login-logo.png" alt="" />
              </div>
          </div>

          <div class="form-content form-register text-white">
              <form name="login_form" novalidate>
                  <div class="">
                      <label class="">
    <span class="">Email address</span>
    <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="yourname@domain.com">
    </label>
                      <label class="">
    <span class="">Password</span>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="******">
    </label>
                      <div class="gap-20"></div>

                      <div class="loginButton"><button type="button" class="btn btn-primary" (click)="login()"> Sign in </button> </div>
                      <p><button (click)="toSignupPage()" class="text-center link-white">Sign up</button></p>
                  </div>
              </form>
          </div>

</ion-content>
