
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Make Payment</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="showOffline">
    <p class="medium-text text-center">Connection timed out. Please check your internet and retry.</p>
    <div class="center-box"><button class="btn-primary block" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>

  <div *ngIf="paymentIntro">
    <h4 class="text-center">Choose a smart option below:</h4>
    <ion-list radio-group [(ngModel)]="smartOption">
      <ion-item>
        <ion-label>Pay Instantly</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Generate QR Code for recepient</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Scan recepient's QR Code</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid bottom>
      <ion-row>
        <ion-col>
          <ion-segment color="primary">
            <ion-segment-button (click)="showOptionForm()" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div  *ngIf="PayNow">
    <h4 class="text-center" padding>Fill detail to pay instantly.</h4> 
  </div>
  <div *ngIf="generateQRText">
    <h4 class="text-center" padding>Fill detail to generate a QR for the recepient.</h4>    
  </div>
  <div *ngIf="scanQR">
    <h4 class="text-center" padding>Click this button to scan recepient's QR code.</h4>
  </div>
  
  <div *ngIf="generateQR">
      <ion-list *ngIf="qrCode" class="pry-content">
        <p class="size-10">Let the recepient scan this code to receive &#8358;{{ payment.amount }}.</p>
        <div class="qr-box"><qr-code [value]="paymentData" [size]="150" level="M"></qr-code></div>
        <ion-grid>
          <ion-row>
            <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="refreshPage()"> Back </button> </div></ion-col>
            <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="toHome()"> Home </button> </div></ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
  </div>
  
  <ion-list *ngIf="showForm">        
    <ion-item>
      <p>Enter recepient's details</p>
    </ion-item>
    <ion-item>
      <ion-label>SmartPayID</ion-label>
      <ion-input type="number" class="form-control" [(ngModel)]="payment.toSmartPayID" name="toSmartPayID"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number" class="form-control" [(ngModel)]="payment.amount" name="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" class="form-control" [(ngModel)]="payment.description" name="description"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="PayNow">
    <ion-row>
      <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="confirmPIN(1)"> Pay now </button> </div></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="generateQRBtn">
    <ion-row>
      <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="generateQRCode()"> Generate QR Code </button> </div></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="scanQR">
    <ion-row>
      <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="confirmPIN(2)"> Scan QR Code </button> </div></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="backBtn">
      <ion-row>
        <ion-col>
          <ion-segment color="primary">
            <ion-segment-button (click)="goBack()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>      

</ion-content>
