<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="innerform">


<ion-list>{{ profile?.surname }}

  <ion-item>
    <ion-label floating>First name</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="profile.firstName" name="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Surname</ion-label>
    <ion-input type="text" class="form-control" [(ngModel)]="profile.surname" name="surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Address</ion-label>
    <ion-textarea type="text" class="form-control" [(ngModel)]="profile.address" name="address"></ion-textarea>
  </ion-item>

  <div class="gap-20"></div>

  <div class="loginButton"><button type="button" class="btn btn-primary" (click)="update()"> Submit </button> </div>

</ion-list>


</ion-content>
