page-edit-profile {
	.text-center {
        display: block;
        text-align: center;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        padding: 15px 0px;
        background: #efefef;
        display: block;
        text-align: center;
        width: 100%;
        border: none;
        box-shadow: 0;
        margin: 15px 0;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }
}

