page-load-paybag {
    .text-center {
        display: block;
        text-align: center;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        padding: 15px 0px;
        background: #efefef;
        display: block;
        text-align: center;
        width: 100%;
        border: none;
        box-shadow: 0;
        margin: 15px 0;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .medium-text {
        font-size: 1.1em;
        color: #777;
        line-height: 1.5em;
        margin: 2em;
    }

    ion-spinner * {
        width: 40px;
        height: 40px;
        /*stroke: #444;
        fill: #222;*/
    }

    .spinner-box {
        width: 40px;
        margin: 2em auto;
    }

    .center-box {
        width: 40%;
        margin: 1.2em auto;
    }
}
