<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Load Paybag</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="chooseMethod">
    <h4 class="text-center" padding>Simply add money to your paybag with convenience</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>Amount to send</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="amount" name="amount"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <p>Please select</p>
      </ion-item>
    </ion-list>
    <ion-list radio-group [(ngModel)]="method">
      <ion-item>
        <ion-label>Use my Bank Card</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Transfer from Bank Account</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="selectNext()" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="cardDetail">
    <h4 class="text-center">Enter card details</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>Card number</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="card.card_no" name="card_no"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CVV</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="card.cvv" name="cvv"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Expiry Year</ion-label>
        <ion-select [(ngModel)]="card.expiry_year" name="expiry_year">
          <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Expiry Month</ion-label>
        <ion-select [(ngModel)]="card.expiry_month" name="expiry_month">
          <ion-option *ngFor="let month of months" value="{{month.id}}">{{month.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>PIN</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="card.pin" name="pin"></ion-input>
      </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="showChooseMethod()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col col-5 offset-1>
          <ion-segment color="primary">
            <ion-segment-button (click)="toShowCardPreview()" value="0">
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="bankPreview">
    <h4 class="text-center">Preview bank details</h4>
    <ion-list>
      <ion-item>
        <ion-label>Amount to transfer</ion-label>
        <span item-right>&#8358; {{ amount | number: '1.2-4' }}</span>
      </ion-item>

      <ion-item>
        <ion-label>First name</ion-label>
        <span item-right>{{ bank.firstname }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Surname</ion-label>
        <span item-right>{{ bank.lastname }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Phone number</ion-label>
        <span item-right>{{ bank.phonenumber }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <span item-right>{{ bank.email }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Account number</ion-label>
        <span item-right>{{ bank.sender_account_number }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Bank name</ion-label>
        <span item-right>{{ bank.sender_bankName }}</span>
      </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="showChooseMethod()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5 offset-1>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="toProfile()"> Edit profile </button> </div>
        </ion-col>
        <ion-col col-5 offset-1>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="transferFromBank()"> Submit </button> </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="cardPreview">
    <h4 class="text-center">Preview payment details</h4>
    <ion-list>
      <ion-item>
        <ion-label>Amount to transfer</ion-label>
        <span item-right>&#8358; {{ amount | number: '1.2-4' }}</span>
      </ion-item>

      <ion-item>
        <ion-label>First name</ion-label>
        <span item-right>{{ card.firstname }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Surname</ion-label>
        <span item-right>{{ card.lastname }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Phone number</ion-label>
        <span item-right>{{ card.phonenumber }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <span item-right>{{ card.email }}</span>
      </ion-item>

      <ion-item>
        <ion-label>Card detail</ion-label>
        <span item-right>{{ card.card_no | slice:0:4 }}... / {{ card.expiry_month }} / {{ card.expiry_year }}</span>
      </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="showCardDetail()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5 offset-1>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="toProfile()"> Edit profile </button> </div>
        </ion-col>
        <ion-col col-5 offset-1>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="transferByCard()"> Submit </button> </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="enterCardOTP">
    <h4 class="text-center">Please validate with the OTP sent to your mobile or email</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>OTP</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="card.otp" name="card_otp"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="showCardPreview()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 offset-2>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="confirmCardOTP()"> Confirm </button> </div>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="enterBankOTP">
    <h4 class="text-center">Please validate with the OTP sent to your mobile or email</h4>
    <ion-list>
      <ion-item>
        <ion-label floating>OTP</ion-label>
        <ion-input type="number" class="form-control" [(ngModel)]="bank.otp" name="bank_otp"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment color="primary">
            <ion-segment-button (click)="showBankPreview()" value="0">
              <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 offset-2>
          <div class="loginButton"><button type="button" class="btn btn-primary" (click)="confirmBankOTP()"> Confirm </button> </div>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<div *ngIf="showOffline">
    <p class="medium-text text-center">Connection timed out. Please check you internet and retry.</p>
    <div class="center-box"><button class="btn-primary" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>


</ion-content>
