
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="innerform">

<p *ngIf="savedDataLoaded">Saved transactions loaded</p>
	<div *ngIf="showOffline">
    <p class="medium-text text-center">Connection timed out. Refresh page to retry.</p>
    <div class="center-box"><button class="btn-primary block" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>

<ion-list *ngIf="showProfile">
  <ion-list-header color="light">Personal Information<button ion-button clear item-right (click)="toEditProfile()">Edit</button></ion-list-header>
  <ion-item>
    <ion-label>SmartPayID</ion-label>
    <span item-right>{{ profile.phoneNumber }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Full name</ion-label>
    <span item-right>{{ profile.firstName }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Surname</ion-label>
    <span item-right>{{ profile.surname }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <span item-right>{{ profile.gender }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Address</ion-label>
    <span item-right>{{ profile.address }}</span>
  </ion-item>

</ion-list>

<ion-list *ngIf="showProfile">
  <ion-list-header color="light">Personal Information<button ion-button small clear item-right (click)="toEditAccount()">Edit</button></ion-list-header>
  <ion-item>
    <ion-label>Account name</ion-label>
    <span item-right>{{ account.name }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Account number</ion-label>
    <span item-right>{{ account.number }}</span>
  </ion-item>

  <ion-item>
    <ion-label>Bank name</ion-label>
    <span item-right>{{ account.bankName }}</span>
  </ion-item>

</ion-list>

<ion-list *ngIf="showProfile">
  <ion-item-divider color="light">Security<button ion-button clear small item-right (click)="changePIN()">Change PIN</button></ion-item-divider>
  <ion-item>
    <ion-label>Secure PIN</ion-label>
    <span item-right>****</span>
  </ion-item>
  
  

  <!--div class="gap-20"></div>

  <div class="loginButton"><button type="button" class="btn btn-primary" (click)="toEditProfile()"> Edit profile </button> </div-->

</ion-list>

</ion-content>
