page-home {
    .home-page-icon {
        width: 40%;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }

    .home-page-icon img {
        width: 100%;
        height: auto;
        margin: 1em 0;
    }

    .link-color {
        text-decoration: none;
        color: #003471;
        background: transparent;
        display: block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .pry-action-btn {
        overflow: hidden;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4.6rem;
        border-radius: 0px;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #09417a;
        box-shadow: 0 0 0;
        transition: none;
    }

    .pry-btn {
        width: 100%;
        line-height: 1.2em;
    }

    .home-action-btn {
        overflow: hidden;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4.6rem;
        border-radius: 2px;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #052953;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .home-btn {
        width: 100%;
        line-height: 1.2em;
    }

    .home-btn1 {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        z-index: 0;
        display: inline-block;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: top;
        vertical-align: -webkit-baseline-middle;
        transition: background-color, opacity 100ms linear;
        -webkit-font-kerning: none;
        font-kerning: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        contain: content;
    }
}
