<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-fab bottom right>
   <button ion-fab (click)="toSmartOptions()"><ion-icon name="card"></ion-icon></button>
 </ion-fab>

<ion-content padding>
  <div class="home-page-icon">
      <img class="" src="assets/img/logo_sm.png" alt="" />
  </div>

  <!--p padding class="text-center">
    {{ 'SimplePaymentStepText' | translate }}
  </p-->

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toPay()">{{ 'MakePayment' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toReceive()">{{ 'ReceivePayment' | translate }}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toPaybag()">My Paybag</button>
      </ion-col>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toTransactions()">Transactions</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toProfilePage()">My Profile</button>
      </ion-col>
      <ion-col col-6>
        <button class="pry-action-btn pry-btn" (click)="toHelpPage()">Help</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p><button (click)="logout()" class="text-center link-color">Sign out</button></p>
  
</ion-content>
