page-receive {
    .pry-action-btn {
        overflow: hidden;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4.6rem;
        border-radius: 0px;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #09417a;
        box-shadow: 0 0 0;
        transition: none;
    }

    .pry-btn {
        width: 100%;
        line-height: 1.2em;
    }

    .text-center {
        text-align: center;
    }

    .pry-content {        
	    text-align: center;
	    background-color: transparent;	    	    
	    letter-spacing: .1em;
	    margin: 1em;
    }
    .uppercase {
	    text-transform: uppercase;
	}

    .size-14 {
        font-size: 1.4em;
    }

    .size-12 {
        font-size: 1.2em;
    }

    .size-10 {
        font-size: 1.0em;
    }

    .color-pry {
        color: #09417a;
    }
    .qr-box {
        width: 150px;
        margin: 2em auto 3em;
    }
    .block {
        width: 100%;
    }

    .spinner-box {
        width: 40px;
        margin: 2em auto;
    }

    .center-box {
        width: 40%;
        margin: 1.2em auto;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .medium-text {
        font-size: 1.1em;
        color: #777;
        line-height: 1.5em; 
        margin: 2em;   
    }
}
