<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment Detail</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Payer SmartPayID
      </ion-col>
      <ion-col>
        {{ payment.fromSmartPayID }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Recepient SmartPayID
      </ion-col>
      <ion-col>
        {{ payment.toSmartPayID }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Transaction Amount
      </ion-col>
      <ion-col>
        {{ payment.amount }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Description
      </ion-col>
      <ion-col>
        {{ payment.description }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        {{ payment.timestamp | date: 'yMMMdjms' }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="toTransactions()"> Transactions </button> </div></ion-col>
      <ion-col><div class="loginButton"><button type="button" class="pry-btn pry-action-btn" (click)="toHomePage()"> Home </button> </div></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
