<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Smart Options</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="option" (ionChange)="goTo($event)">

    <ion-item>
      <ion-label>Pay Money</ion-label>
      <ion-radio value="0"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Receive Money</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Payment History</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>My Paybag</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Add Money to Paybag</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Transfer Money to Bank</ion-label>
      <ion-radio value="5"></ion-radio>
    </ion-item>

  </ion-list>
</ion-content>
