<!--
  Generated template for the Options page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group [(ngModel)]="settings.pref_language" (ionChange)="changePreference($event, PREF_LANGUAGE)">

    <ion-list-header>
     Language
    </ion-list-header>

    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio value="en"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Yoruba</ion-label>
      <ion-radio value="yb"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Igbo</ion-label>
      <ion-radio value="ig"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hausa</ion-label>
      <ion-radio value="hs"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Pidgin</ion-label>
      <ion-radio value="pg"></ion-radio>
    </ion-item>

  </ion-list>
  <!--ion-list>
    <ion-item>
      <ion-label>Make me discoverable by others</ion-label>
      <ion-toggle secondary
        [ngModel]='preferences[PREF_DISCOVERABLE]'
        (ionChange)='changePreference($event, PREF_DISCOVERABLE)'></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notifications for Messages</ion-label>
      <ion-toggle secondary
        [ngModel]='preferences[PREF_NOTIFY_MESSAGES]'
        (ionChange)='changePreference($event, PREF_NOTIFY_MESSAGES)'></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notifications for Invites</ion-label>
      <ion-toggle secondary
        [ngModel]='preferences[PREF_NOTIFY_INVITES]'
        (ionChange)='changePreference($event, PREF_NOTIFY_INVITES)'></ion-toggle>
    </ion-item>
  </ion-list-->
</ion-content>
