<!--
  Generated template for the Payout page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>payout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div>{{ profile?.phoneNumber }}</div>
</ion-content>
