page-signup {
	background-image: url('../assets/img/login-page-bg.png');
    background: transparent;
    background-size: cover;

    .auth-bg {
        background-color: #003471;
        background-image: url('../img/login-page-bg.png');
        background-size: cover;
        float: left;
        width: 100%;
    }

    .form-page-top {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .form-page-icon {
        width: 40%;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }

    .login-page-icon {
        width: 70%;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }

    .login-page-icon img {
        width: 100%;
        height: auto;
        margin: 2em 0 3em;
    }

    .form-page-icon img {
        width: 100%;
        height: auto;
        margin: 3em 0;
    }

    .form-content {
        text-align: left;
        color: #ffffff;
        display: block;
        width: 100%;
        position: relative;
        background-color: transparent;
    }

    .form-content form {
        margin: 0 20px;
        padding-bottom: 20px;
    }

    .form-content label {
        display: block;
        width: 100%;
    }

    .text-center {
        display: block;
        text-align: center;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        padding: 15px 0px;
        background: #efefef;
        display: block;
        text-align: center;
        width: 100%;
        border: none;
        box-shadow: 0;
        margin: 15px 0;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .list-page .list:last-child {
        margin-bottom: 60px;
    }

    .link-white {
        text-decoration: none;
        color: #ffffff;
    }

    .text-white {
        color: #ffffff !important;
    }

    .list-page .item p {
        color: #09417a !important;
    }

    .dlogin .form-login textarea,
    .dlogin .form-login input[type="text"],
    .dlogin .form-login input[type="password"],
    .dlogin .form-login input[type="number"],
    .form-register textarea,
    .form-register input[type="text"],
    .form-register input[type="password"],
    .form-register input[type="number"] {
        color: #ffffff !important;
        padding: 5px 10px 10px;
        text-align: left;
        margin: 10px 0;
        border: 0;
        border-bottom: 1px solid #0a9dc7;
        background-color: transparent !important;
    }



    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        background-color: #efefef;
        color: #09417a !important;
        padding: 5px 10px 10px;
        border: none;
        margin-bottom: .5em;
        letter-spacing: .1em;
    }

    .link-white {
        text-decoration: none;
        color: #ffffff;
        background: transparent;
        display: block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }
}
