page-paybag {
	.paybag-balance h4 {
	    color: #09417a;
	    text-align: center;
	    background-color: transparent;
	    text-transform: uppercase;
	    font-size: 1.4em;
	    letter-spacing: .1em;
	    margin: 1em 0;
	}

	.paybag-balance h5 {
	    color: #fafafa;
	    text-align: center;
	    background-color: #09417a;
	    text-transform: uppercase;
	    font-size: 1.5em;
	    letter-spacing: .1em;
	    margin: 20px 50px;
	    padding: .9em;
	}

	.pry-action-btn {
        overflow: hidden;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4.6rem;
        border-radius: 0px;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #09417a;
        box-shadow: 0 0 0;
        transition: none;
    }

    .pry-btn {
        width: 100%;
        line-height: 1.2em;
    }

	.paybag-detail h4 {
	    color: #09417a;
	    text-align: center;
	    text-transform: uppercase;
	    font-size: .9em;
	    letter-spacing: .2em;
	    line-height: 1.5em;
	}

	.paybag-detail h5 {
	    color: #ffffff;
	    text-align: center;
	    background-color: #09417a;
	    text-transform: uppercase;
	    font-size: 1.2em;
	    letter-spacing: .1em;
	    margin: 0px 5px;
	    padding: .9em;
	}

	.paybag-detail a {
	    color: #ffffff;
	    text-align: center;
	    background-color: #09417a;
	    text-transform: uppercase;
	    font-size: 1em;
	    letter-spacing: .1em;
	    margin: 10px 5px;
	    padding: .9em;
	    text-decoration: none;
	    display: block;
	}
	
	.link-color {
        text-decoration: none;
        color: #003471;
        background: transparent;
        display: block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .home-action-btn {
        overflow: hidden;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4.6rem;
        border-radius: 2px;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #052953;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .home-btn {
        width: 100%;
        line-height: 1.2em;
    }
	
	.empty-alert {
		text-align: center;
		color: #09417a;
		text-transform: lowercase;
		font-size: 1.2em;
		letter-spacing: .1em;
		margin: 20px;
		line-height: 1.6em;
		padding: .9em;
	}
	
	.empty-retry {
		text-align: center;
		margin: 20px;
	}

	.spinner-box {
        width: 40px;
        margin: 2em auto;
    }

    .center-box {
        width: 40%;
        margin: 1.2em auto;
    }

    .btn-primary {
        background: #3b71de;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px;
    }

    .gap-20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .medium-text {
        font-size: 1.1em;
        color: #777;
        line-height: 1.5em; 
        margin: 2em;   
    }

    .block {
        width: 100%;
    }
}
