<ion-header>

  <ion-navbar>
    <ion-title>Paybag</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="innerform">
		
	<p *ngIf="savedDataLoaded">Saved transactions loaded</p>
	<div *ngIf="showOffline">
    <p class="medium-text text-center">Connection timed out. Refresh page to retry.</p>
    <div class="center-box"><button class="btn-primary block" (click)="refreshPage()">refresh</button></div>
  </div>
  <div *ngIf="showLoading" class="spinner-box"><ion-spinner name="crescent"></ion-spinner></div>

	<div class="preview-content" *ngIf="showPaybag">
	<div class="paybag-balance">
		<h4>current balance</h4>
		<h5>&#8358; {{ paybag.balance | number: '1.2-4' }}</h5>
	</div>
	  <ion-grid class="paybag-detail">
		<ion-row>
		  <ion-col col-6>
			<h4>Previous balance</h4>
		  </ion-col>
		  <ion-col col-6>
			<h4>Last transaction</h4>
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col col-6>
			<h5>&#8358; {{ paybag.prevBalance | number: '1.2-4' }}</h5>
			<!--h5>&#8358; {{ (paybag | async)?.prevBalance }}</h5-->
		  </ion-col>
		  <ion-col col-6>
			<h5>&#8358; {{ paybag.transaction | number: '1.2-4' }}</h5>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	  
	  <ion-grid class="paybag-detail">
		<ion-row>
		  <ion-col>
			<button class="pry-action-btn pry-btn" (click)="toTransactions()">view transactions</button>
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col>
			<button class="pry-action-btn pry-btn" (click)="toLoadPaybag()">Add money to paybag</button>
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col>
			<button class="pry-action-btn pry-btn" (click)="toPayout()">Transfer to bank</button>
		  </ion-col>
		</ion-row>
	  </ion-grid>
  
	</div>

</ion-content>
